@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  background: #292929;
  font-family: "Fira Sans", Arial, sans-sarif;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.titulo-decoracao {
  font-size: 8rem;
  line-height: 1;
  text-transform: uppercase;
}

@media (max-width: 800px) {
  .titulo-decoracao {
    font-size: 3rem;
    text-transform: capitalize;
    max-width: initial !important;
  }
}

/* animação */

[data-anime] {
  opacity: 0;
  transition: 0.4s;
}

[data-anime="left"] {
  transform: translate3d(-50px, 0, 0);
}

[data-anime="top"] {
  transform: translate3d(0, -70px, 0);
}

[data-anime].animate {
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
}

/* botão "back to top" */

html {
  scroll-behavior: smooth;
}

.to-top {
  background: white;
  position: fixed;
  bottom: 16px;
  right: 32px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  text-decoration: none;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s;
}

.to-top.active {
  bottom: 32px;
  pointer-events: auto;
  opacity: 1;
}

.arrow {
  border: solid #000;
  border-width: 0 3px 3px 0;
  padding: 5px;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
