.sobre {
  background: #141414;
  color: #ffffff;
}

.sobre-container {
  max-width: 1200px;
  padding: 120px 20px 60px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  position: relative;
}

.sobre-container h3 {
  color: #000000;
}

.sobre-container p {
  color: #a3a3a3;
  font-size: 1.5rem;
}

.sobre-texto strong {
  color: #ffffff;
}

.cursos {
  margin-bottom: 60px;
}

.sobre-extra {
  grid-column: 2;
}

.sobre-extra h4 {
  color: #a3a3a3;
  font-size: 0.875rem;
  line-height: 1.4;
  text-transform: uppercase;
  margin-bottom: 30px;
  position: relative;
}

.sobre-extra h4::before {
  display: block;
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  left: -36px;
  top: -4px;
}

.cursos h4::before {
  background: url("../img/cursos.svg") no-repeat center center;
}

.idiomas h4::before {
  background: url("../img/idiomas.svg") no-repeat center center;
}

.sobre-extra li {
  font-size: 1.125rem;
  line-height: 1.1;
  margin-bottom: 20px;
  color: #ffffff;
}

.sobre-extra span {
  color: #8f8f8f;
}

.cursos li {
  display: flex;
  justify-content: space-between;
}

/* responsivo */

@media (max-width: 800px) {
  .sobre-container {
    grid-template-columns: 1fr;
    padding: 60px 20px;
    gap: 40px;
  }
  #sobre-titulo {
    grid-row: 1;
    grid-column: 1 / -1;
    text-align: center;
  }
  .sobre-texto {
    font-size: 1.25rem;
    grid-column: 1;
  }
  .sobre-extra {
    grid-column: 1;
    padding-left: 40px;
  }
}
